<h1 class="mt-3">Segment List</h1>
<div class="d-flex justify-content-end">
    <a class="btn btn-secondary" asp-controller="Segment" asp-action="Add">Add Segment</a>
</div>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Name</td>
                <td>@user.Description</td>

            </tr>
        }
    </tbody>
</table>


